/* Main Content Styles */
/* Account for right sidebar */
/* .main-content {
  margin-right: 220px; 
  padding: 20px;
  } */
  

  .section {
    /* height: 100vh; */
    /* padding: 40px; */
    /* background-color: #f9f9f9; */
    /* margin-bottom: 20px; */
  }
  
  /* .section h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .section p {
    font-size: 18px;
    color: #555;
  } */
  